.article {

  padding: 20px;
}

.articleHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--light-gray)
}

.articleContent {
  margin-right: 20px;
}

.articleBody {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.annotations {
  position: sticky;
  max-height: calc(100vh - 200px);
  top: 100px;
}

.annotationHeader {
  border: 1px solid var(--light-gray);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.annotationBody {
}
.annotationList{

  max-height: 50vh;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.miniTitle {
  margin-bottom: 10px;
  font-weight: bold;
}