.authContainer {
	display: grid;
	grid-template-columns: 3fr 2fr;
	font-family: Poppins-Bold, sans-serif;
}

.mainTitle {
	font-size: 8rem;
	color: #001951;
	font-weight: bold;
}

.infoSection {
	padding-top: 5rem;
	padding-left: 5rem;
}

.img {
	display: block;
	width: 650px;
	height: 480px;

	margin-top: 4rem;
}

.description {
	color: var(--yellow);
	font-size: 1.5rem;
	font-weight: bold;
	max-width: 500px;
}

.formSection {
	display: flex;
}


@media screen and (max-width: 1360px) {
	.mainTitle {
		font-size: 6rem;
	}
	
	.infoSection {
		padding-top: 5rem;
		padding-left: 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
	};
	
	.img {
		display: block;
		object-fit: contain;
		max-width: 350px;
		height: max-content;
		margin-top: 3rem;
	}
	
	.description {
		color: var(--yellow);
		font-size: 1.3rem;
		max-width: 400px;
	}
}

@media screen and (max-width: 510px) {
	.authContainer{
		grid-template-columns: 100%;
		justify-content: center;
		align-items: center;
		gap: 0;
		padding: 0;
		margin: 0;
	}

	.mainTitle{
		padding: 0;
	}

	.img
	{
		display: flex;
		justify-content: left;
		align-items: center;
	}

	.formSection{
		width: 100%;
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}