
/* FOR MOBILE DEVICES: */


/* FOR TABLET DEVICES: */
  .userCard {
    border-radius: 16px;
    background: #fcf4f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    height: 340px;
    width: 100%;
  }

.userCard {
  border-radius: 16px;
  background: #fcf4f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height:   900px;
}

.email {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.avatar{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
  :first-child{
    font-weight: bold;
  }
}
