.layout{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.container{
}


/* FOR TABLET DEVICES: */
@media screen and (min-device-width: 450px) and (max-device-width: 1280px) {   
  .layout{
    display: grid;
    grid-template-columns: 0.5fr 4.5fr;
  }
}
@media screen and (max-device-width: 510px) {
  .layout{
    display: initial;
    grid-template-columns: initial;
  }
}
