.layout{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.container{}

@media screen and (min-device-width: 360px) and (max-device-width: 414px) {   

}

/* FOR TABLET DEVICES: */
@media screen and (min-device-width: 450px) and (max-device-width: 1280px) {   
  .layout{
    display: grid;
    grid-template-columns: 0.5fr 4.5fr;
  }
}
