.addPost{
  border: 2px solid var(--gray);
  border-radius: 1rem;
  padding: 2rem;
  

  .title{
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
  }
  .header{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 600;
    margin: 1rem;
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }

  .tags{
    margin-bottom: 2rem;
  }
  
}

.content{
  margin: 2rem 0;
  form{
    input {
      border: 2px solid var(--gray);
      width: 100%;
      height: 8rem;
      margin-bottom: 2rem;
      border-radius: 1rem;

    }
    select{
      height: 2rem;
      width: 15rem;
      border: 2px solid var(--gray);
      margin-bottom: 2rem;
      border-radius: 1rem;

    }
  }
  
}

.extraMedia{
  padding: 1rem;
  border: 2px solid var(--gray);
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  color: #808e96;
}

