$path: '../assets/fonts/Poppins/';

@font-face {
  font-family: 'Poppins-Regular';
  src: url($path + 'Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url($path + 'Poppins-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

.App {
  font-family: 'Poppins-Regular', sans-serif;
}

// NOTE: on new color, update enum COLORS also
:root {
  --yellow: #F7A325;
  --red: #ef233c;
  --white: #fff;
  --black: #151E27;
  --gray:  #f0f0f5;
  --dark-gray: #9DA2A5;
  --light-gray: #E2E8F0;
  --ocean_blue: #BCD7DA;
}