.form {
  max-width: 500px;
  padding: 20px;
  margin: auto;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.link{
  color: var(--yellow);
}
.link:hover{
  border-bottom: 1px solid var(--yellow);
}