.form {
  max-width: 300px;
  padding: 20px;
  margin: auto;
  width: 100%;
}

.title {
  text-align: center;
}
.link{
  color: var(--yellow);
}
.link:hover{
  border-bottom: 1px solid var(--yellow);
}