.welcomePageContainer {
  padding: 2rem;

  .addButton {
    width: 15rem;
    margin-bottom: 2rem;
  }

  .welcomePageTitle {
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

