.project {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.projectCardContainer{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .projectCard{
      width: 190px;
      height: 120px;
      background: #B3B336;
      margin: 1rem;
      border-radius: 1rem;
  }

  .links{
    padding-left: 1rem;
  }
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
}