.sidebar {
  background: var(--black);
  height: 100vh;
  padding: 5rem 0 0;
  font-weight: bold;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: var(--white);
  margin-bottom: 2.5rem;
  font-family: Poppins-Bold, sans-serif;
}

.menuItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2.5rem;
  color: var(--dark-gray);

  &:visited {
    color: var(--dark-gray);
  }

  &:hover {
    color: var(--white);
  }

}


/* FOR TABLET DEVICES: */
@media screen and (max-device-width: 1280px) {
  .sidebar {
    background: var(--black);
    height: 100vh;
    padding: 2rem;
    font-weight: bold;
  }

  .title {
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 2.5rem;
    font-family: Poppins-Bold, sans-serif;
  }

  .menuItem {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2.5rem;
    color: var(--dark-gray);

    &:visited {
      color: var(--dark-gray);
    }

    &:hover {
      color: var(--white);
    }
  }
}

/* FOR MOBILE DEVICES: */
@media screen and (max-device-width: 510px) {
  .sidebar{
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;
  }
  .mobileSidebar{
    background: var(--black);
    padding: 5px 10px;
    position: sticky;
    top:0;
    z-index: 10;
    .burger{
      color: var(--white);
      font-size: 2rem;

    }
  }
}