.postContainer {
  width: 70%;
  height: max-content;
  border: 1px solid #000;
  border-radius: 16px;
  padding: 1rem;
  font-size: 1.1rem;
  // font-style: var(--gray);
}

.postInfo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

.postContent {
  padding: 1rem;
}

.comment {
  cursor: pointer;
}

.postActions {
  padding: 1rem 0;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;

  div {
    border-radius: 16px;
    background-color: var(--gray);
    width: max-content;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
  }
}

.link {
  color: var(--yellow);
  border-bottom: 1px solid var(--yellow)
}

.img {
  width: 60%;
  height: 20vw;
  object-fit: cover;
  display: block;
  justify-content: center;
}

@media screen and (max-width: 1360px) {
  .postContainer {
    width: initial;
  }
}

@media screen and (max-width: 510px) {
  .postInfo {
    flex-direction: column;
    gap: 1rem;
  }
}