.loginContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  font-family: Poppins-Bold, sans-serif;
}

.mainTitle {
  font-size: 8rem;
  color: #001951;
  font-weight: bold;
}

.infoSection {
  padding: 5rem;
}

.description {
  color: var(--yellow);
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 500px;
}

.formSection {
  display: flex;
}