.loginInput {
  height: 3rem;
  margin-bottom: 2rem;
}

.loginBtn {
  font-weight: 700;
  font-size: 18px;
}

.login {
}
.mainTitle{
  font-size: 7rem;
  color: #001951;
  font-weight: bold;
  padding: 2rem 0 0 5rem;
}