body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html {
  font-size: 14px;
}

input {
  outline: none;
  border: 1px solid var(--light-gray);
  height: 40px;
  border-radius: 4px;
  padding: 0 10px !important;

  &:hover, &:focus {
    border: 2px solid var(--ocean-blue);
  }
}

textarea {
  outline: none;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  padding: 0 10px !important;

  &:hover, &:focus {
    border: 2px solid var(--ocean-blue);
  }

  height: 100px;
  resize: none !important;
}


button {
  outline: none;
  border: none;
}

a, a:focus, a:active, a:hover {
  color: var(--black);
  text-decoration: none;
}

